//TODO: active menu item not showing
.primary-nav{
  background-color: var(--primary-color);
  padding: 0 2rem;
  font-size: 1.15rem;
  font-family: var(--main-font);
  color: var(--text-color);
  min-width: 100%;
  min-height: 85px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

	.brand{
		gap: 1.5rem; 
		align-items: center;
		.search-btn{
			border: none;
			outline: none;
			color: #fff;
			padding: 0.5rem;
			margin: 0;
			align-items: center;
			justify-content: center;
			background-color: var(--button-color);
			border-radius: 5px;
			display: flex;
			transition: all 300ms ease-in;
			i{
				font-size: 1.35rem;
				padding: 0;
				margin: 0;
			}
		}
		
		.search-data{
			min-width: 25rem;
			position: relative;
			display: none;
			align-items: center;
			transition: all 300ms ease-in;	
			.icon-container{
				position: absolute;
				right: 15px;
				i{
					color: gray;
				}
			}
			input{
				font-size: 1.25rem;
				font-family: var(--main-font);
				padding: 0.5rem;
				border: none;
				outline: none;
				border-radius: 5px;
				width: 100%;
			}
		}
		.logo-container{ 
			.bi-pinterest{
				font-size: 2rem;
			}
		}
	}
	.sidebar-toggle{
		border: none;
		outline: none;
		color: #fff;
		padding: 0.5rem;
		margin: 0;
		align-items: center;
		justify-content: center;
		background-color: var(--button-color);
		border-radius: 5px;
		display: flex;
		transition: all 300ms ease-in;
		i{
			font-size: 1.35rem;
			padding: 0;
			margin: 0;
		}
	}
	.nav-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
		gap: 1rem;
		display: none;
		&__item{
			padding: 0.75rem 1rem;
			position: relative;
			display: flex;
			justify-content: center;
			cursor: pointer;
			&:hover{
				&::after{
					width: 100%;
				}
			}
			&::after,
			&--active{
				content: "";
				position: absolute;
				min-height: 2px;
				border-radius: 5px;
				background-color: var(--text-color);
				bottom: 0;
			}
			&::after{
				width: 0;
				transition: all 500ms ease-in-out;
			}
			&--active{
				&::after{
					width: 100%;
				}
				&__item{
					&::after{
						width: 100%;
					}
				}
			}
		}
	}
}



@media screen and (min-width: 768px){
  .primary-nav{
		.nav-list{
			display: flex;
		}
		.sidebar-toggle{
			display: none;
		}
		.brand{
			.search-btn{
				display: flex;
			}
		}
  }
}

@media screen and (min-width: 992px){

  .primary-nav{
		.brand{ 
			.search-data{
				display: flex;
			}
			.search-btn,.sidebar-toggle{
				display: none;
			}
		}
  }
}
